Repository delta94/sentrei, changes with the labels that .github/labeler.yml gives for each.
All labels: design, github, infrastructure, packages/blog, packages/common, packages/docs, packages/functions, packages/fastlane, packages/pioneer, packages/types, packages/typedoc, packages/ui, packages/video, packages/web

feat: 🎸 room form create
  locales/en/common.json
  locales/en/form.json
  packages/@types/src/atom/RoomCreateForm.ts
  packages/@types/src/models/Room.ts
  packages/functions/src/__dummy__/Room.ts
  packages/ui/package.json
  packages/ui/src/components/DarkModeButton/DarkModeButton.tsx
  packages/ui/src/components/RoomCreate/RoomCreate.tsx
  packages/ui/src/components/RoomForm/RoomForm.tsx
  packages/ui/src/components/RoomStepperCreate/RoomStepperCreate.tsx
  packages/ui/src/components/RoomStepperCreate/index.ts
  packages/ui/src/components/RoomStepperName/RoomStepperName.tsx
  packages/ui/src/components/RoomStepperName/index.ts
  packages/ui/src/components/RoomStepperOther/RoomStepperOther.tsx
  packages/ui/src/components/RoomStepperOther/index.ts
  packages/ui/src/components/RoomStepperType/RoomStepperType.tsx
  packages/ui/src/components/RoomStepperType/index.ts
  packages/ui/src/components/SpaceCreate/SpaceCreate.tsx
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanelAccordion/SpacePanelAccordion.tsx
  packages/ui/src/components/SpacePanelAccordion/index.ts
  packages/ui/src/components/SpaceStepperCreate/SpaceStepperCreate.tsx
  packages/ui/src/components/SpaceStepperCreate/index.ts
  yarn.lock
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

chore: 🤖 types
  locales/en/common.json
  packages/ui/src/components/RoomStepperCreate/RoomStepperCreate.tsx
Labels: packages/ui, packages/web

perf: ⚡️ include reset set active form
  packages/ui/src/components/RoomStepperOther/RoomStepperOther.tsx
  packages/ui/src/components/SpaceStepperOther/SpaceStepperOther.tsx
Labels: packages/ui, packages/web

feat: 🎸 refactor dark mode intl menu
  packages/ui/src/components/DarkModeButton/DarkModeButton.tsx
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/IntlForm/IntlForm.tsx
  packages/ui/src/components/IntlMenu/IntlMenu.tsx
  packages/ui/src/components/IntlMenu/index.ts
  packages/ui/src/components/ListMenu/ListMenu.tsx
Labels: packages/ui, packages/web

perf: ⚡️ icon button for list menu
  packages/ui/package.json
  packages/ui/src/components/ListMenu/ListMenu.tsx
  yarn.lock
Labels: packages/ui, packages/web

feat: 🎸 profile screen remove
  packages/ui/src/components/ProfileScreen/ProfileScreen.tsx
  packages/ui/src/components/ProfileScreen/ProfileScreenStyles.ts
  packages/ui/src/components/ProfileScreen/index.ts
  packages/web/i18n.json
  packages/web/pages_/profile.tsx
  packages/web/pages_/profile/[usernameId]/index.tsx
Labels: packages/ui, packages/web

feat: 🎸 ini badge status
  packages/ui/src/components/BadgeStatus/BadgeStatus.tsx
  packages/ui/src/components/BadgeStatus/index.ts
  packages/ui/src/components/ProfileCard/ProfileCard.tsx
Labels: packages/ui, packages/web

chore: 🤖 refactor pioneer frontier
  packages/pioneer/src/frontier/2020/12.md
Labels: packages/pioneer

chore: 🤖 add cla github action
  .github/workflows/cla.yml
  CLA.md
Labels: github

chore: 🤖 update
  .github/workflows/cla.yml
Labels: github

chore: 🤖 sentrei github update
  .github/workflows/cla.yml
  infrastructure/modules/github/sentrei.tf
Labels: github, infrastructure

chore: 🤖 update
  .github/workflows/cla.yml
Labels: github

chore: 🤖 auto pull request
  .github/workflows/auto-pull-request.yml
Labels: github

chore: 🤖 update
  .github/workflows/cla.yml
Labels: github

feat: 🎸 upgrade license to gnu gpl v3
  LICENSE.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Labels: packages/blog, packages/common, packages/functions, packages/pioneer, packages/types, packages/typedoc, packages/ui, packages/video, packages/web

Update auto-pull-request.yml
  .github/workflows/auto-pull-request.yml
Labels: github

chore: 🤖 merge
  .github/workflows/cla.yml
Labels: github

chore: 🤖 clean up gha
  .github/chatops.json
  .github/workflows/auto-pull-request.yml
  .github/workflows/backup.yml
  .github/workflows/sync.yml
  .github/workflows/vercel.yml
Labels: github

chore: 🤖 update
  .github/workflows/auto-pull-request.yml
Labels: github

chore: 🤖 update
  .github/workflows/backup.yml
Labels: github

feat: 🎸 profile edit refactor
  locales/en/common.json
  packages/@types/src/models/Profile.ts
  packages/@types/src/models/Room.ts
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  packages/ui/src/components/RoomStepperCreate/RoomStepperCreate.tsx
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

chore: 🤖 i18n sync
  locales/ja/common.json
  locales/ja/form.json
  locales/zh/common.json
  locales/zh/form.json
Labels: none

perf: ⚡️ changed license SPDX license expression
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Labels: packages/blog, packages/common, packages/functions, packages/pioneer, packages/types, packages/typedoc, packages/ui, packages/video, packages/web

chore: 🤖 update
  packages/@types/src/models/Profile.ts
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

perf: ⚡️ refactor color and padding panel
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanelAccordion/SpacePanelAccordion.tsx
Labels: packages/ui, packages/web

feat: 🎸 ini emoji component
  locales/en/common.json
  packages/ui/package.json
  packages/ui/src/components/Emoji/Emoji.tsx
  packages/ui/src/components/Emoji/EmojiStyled.tsx
  packages/ui/src/components/Emoji/index.ts
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  yarn.lock
Labels: packages/ui, packages/web

feat: 🎸 ini emoji styles
  packages/ui/src/components/Emoji/Emoji.tsx
  packages/ui/src/components/Emoji/EmojiStyled.tsx
Labels: packages/ui, packages/web

feat: 🎸 ini profile popover
  packages/ui/src/components/ProfileCard/ProfileCard.tsx
  packages/ui/src/components/ProfileCardPopover/ProfileCardPopover.tsx
  packages/ui/src/components/ProfileCardPopover/ProfileCardPopoverStyles.ts
  packages/ui/src/components/ProfileCardPopover/index.ts
Labels: packages/ui, packages/web

feat: 🎸 refactor profile appheader
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/AppHeader/AppHeaderStyles.ts
  packages/web/pages_/[spaceId]/activity.tsx
  packages/web/pages_/[spaceId]/analytics.tsx
  packages/web/pages_/[spaceId]/create.tsx
  packages/web/pages_/[spaceId]/edit.tsx
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/[spaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[spaceId]/invite/index.tsx
  packages/web/pages_/[spaceId]/leaderboard.tsx
  packages/web/pages_/[spaceId]/members.tsx
  packages/web/pages_/[spaceId]/quit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/delete.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/edit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/settings.tsx
  packages/web/pages_/[spaceId]/settings.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/profile.tsx
  packages/web/pages_/settings.tsx
  packages/web/src/components/SentreiAppHeader.tsx
Labels: packages/ui, packages/web

feat: 🎸 settins profile form
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  packages/ui/src/components/ProfileUsernameForm/ProfileUsernameForm.tsx
  packages/ui/src/components/ProfileUsernameForm/index.ts
  packages/ui/src/components/SettingsOtherForm/SettingsOtherForm.tsx
  packages/ui/src/components/SettingsOtherForm/index.ts
  packages/ui/src/components/SettingsScreen/SettingsScreen.tsx
  packages/ui/src/components/SettingsUsernameForm/index.ts
  packages/web/pages_/profile.tsx
Labels: packages/ui, packages/web

feat: 🎸 space panel refactor (banner, status, panel)
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanel/SpacePanelStyles.ts
  packages/ui/src/components/SpacePanelBanner/SpacePanelBanner.tsx
  packages/ui/src/components/SpacePanelBanner/SpacePanelBannerStyles.ts
  packages/ui/src/components/SpacePanelBanner/index.ts
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatusStyles.ts
  packages/ui/src/components/SpacePanelStatus/index.ts
Labels: packages/ui, packages/web

perf: ⚡️ add media query for memebers fab
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
Labels: packages/ui, packages/web

feat: 🎸 refactor emoji to emoji mart
  packages/ui/src/components/Emoji/index.ts
  packages/ui/src/components/EmojiMart/EmojiMart.tsx
  packages/ui/src/components/EmojiMart/EmojiMartStyled.tsx
  packages/ui/src/components/EmojiMart/index.ts
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
Labels: packages/ui, packages/web

feat: 🎸 ini emoji picker
  packages/ui/src/components/EmojiPicker/EmojiPicker.tsx
  packages/ui/src/components/EmojiPicker/EmojiPickerStyles.ts
  packages/ui/src/components/EmojiPicker/index.ts
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
Labels: packages/ui, packages/web

feat: 🎸 complete initial emoji picker
  packages/ui/src/components/EmojiMart/EmojiMart.tsx
  packages/ui/src/components/EmojiPicker/EmojiPicker.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
Labels: packages/ui, packages/web

feat: 🎸 ini space panel emoji picker
  packages/ui/src/components/SpacePanelEmojiPicker/SpacePanelEmojiPicker.tsx
  packages/ui/src/components/SpacePanelEmojiPicker/index.ts
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
Labels: packages/ui, packages/web

Update cla.yml
  .github/workflows/cla.yml
Labels: github

Update cla.yml
  .github/workflows/cla.yml
Labels: github

feat: 🎸 ini room card emoji picker
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomCardEmojiPicker/RoomCardEmojiPicker.tsx
  packages/ui/src/components/RoomCardEmojiPicker/index.ts
Labels: packages/ui, packages/web

feat: 🎸 add members update
  packages/@types/src/models/Activity.ts
  packages/@types/src/models/Member.ts
  packages/@types/src/models/Profile.ts
  packages/common/src/firebase/members.ts
  packages/functions/firestore/firestore.rules
  packages/functions/src/__dummy__/Activity.ts
  packages/functions/src/__dummy__/Member.ts
  packages/functions/src/__tests__/spaces/members.spec.ts
  packages/functions/src/members/onUpdate/__tests__/activityMemberUpdate.spec.ts
  packages/functions/src/members/onUpdate/activityMemberUpdate.ts
  packages/functions/src/members/onUpdate/index.ts
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

.github/labeler.yml:

design:
  - design/**/*
github:
  - .github/**/*
infrastructure:
  - infrastructure/**/*
packages/blog:
  - packages/blog/**/*
packages/common:
  - packages/@types/**/*
  - packages/common/**/*
packages/docs:
  - packages/docs/**/*
packages/functions:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/functions/**/*
packages/fastlane:
  - packages/fastlane/**/*
packages/pioneer:
  - packages/pioneer/**/*
packages/types:
  - packages/@types/**/*
packages/typedoc:
  - packages/typedoc/**/*
packages/ui:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/ui/**/*
packages/video:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/video/**/*
packages/web:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/ui/**/*
  - packages/video/**/*
  - packages/web/**/*
