Repository delta94/sentrei, changes with the labels that .github/labeler.yml gives for each.
All labels: design, github, infrastructure, packages/blog, packages/common, packages/docs, packages/functions, packages/fastlane, packages/pioneer, packages/types, packages/typedoc, packages/ui, packages/video, packages/web

.github/labeler.yml:

design:
  - design/**/*
github:
  - .github/**/*
infrastructure:
  - infrastructure/**/*
packages/blog:
  - packages/blog/**/*
packages/common:
  - packages/@types/**/*
  - packages/common/**/*
packages/docs:
  - packages/docs/**/*
packages/functions:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/functions/**/*
packages/fastlane:
  - packages/fastlane/**/*
packages/pioneer:
  - packages/pioneer/**/*
packages/types:
  - packages/@types/**/*
packages/typedoc:
  - packages/typedoc/**/*
packages/ui:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/ui/**/*
packages/video:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/video/**/*
packages/web:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/ui/**/*
  - packages/video/**/*
  - packages/web/**/*

Update cla.yml
  .github/workflows/cla.yml
Labels: github

Update cla.yml
  .github/workflows/cla.yml
Labels: github

chore: 🤖 update
  packages/functions/src/members/index.ts
Labels: packages/functions

Update cla.yml
  .github/workflows/cla.yml
Labels: github

Update cla.yml
  .github/workflows/cla.yml
Labels: github

feat: 🎸 ini user for space panel
  packages/common/src/firebase/members.ts
  packages/ui/src/components/SpaceBoard/SpaceBoard.tsx
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanelEmojiPicker/SpacePanelEmojiPicker.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
  packages/web/pages_/[spaceId]/index.tsx
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

feat: 🎸 ini profile for space screen
  packages/@types/src/models/Member.ts
  packages/common/src/firebase/members.ts
  packages/functions/src/__dummy__/Member.ts
  packages/functions/src/__tests__/spaces/members.spec.ts
  packages/ui/src/components/SpaceBoard/SpaceBoard.tsx
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanelEmojiPicker/SpacePanelEmojiPicker.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
  packages/web/pages_/[spaceId]/index.tsx
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

perf: ⚡️ member update firebase rules test
  packages/functions/firestore/firestore.rules
  packages/functions/src/__tests__/spaces/members.spec.ts
Labels: packages/functions

perf: ⚡️ update members service
  packages/common/src/firebase/members.ts
  packages/functions/firestore/firestore.rules
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

feat: 🎸 working member profile
  packages/common/src/firebase/members.ts
  packages/ui/src/components/SpaceBoard/SpaceBoard.tsx
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanelEmojiPicker/SpacePanelEmojiPicker.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

perf: ⚡️ refactor to initialEmoji
  packages/ui/src/components/EmojiPicker/EmojiPicker.tsx
  packages/ui/src/components/RoomCardEmojiPicker/RoomCardEmojiPicker.tsx
  packages/ui/src/components/SpacePanelEmojiPicker/SpacePanelEmojiPicker.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
Labels: packages/ui, packages/web

chore: 🤖 update firestore rules for member update
  packages/functions/firestore/firestore.rules
Labels: packages/functions

chore: 🤖 update
  packages/functions/firestore/firestore.rules
  packages/functions/src/helpers/scoreActions.ts
  packages/functions/src/members/onUpdate/activityMemberUpdate.ts
Labels: packages/functions

feat: 🎸 update firestore rules
  packages/functions/firestore/firestore.rules
  packages/functions/src/__dummy__/Member.ts
  packages/functions/src/__tests__/spaces/members.spec.ts
Labels: packages/functions

chore: 🤖 udpate room model
  packages/@types/src/models/Room.ts
  packages/functions/firestore/firestore.rules
  packages/functions/src/__tests__/rooms/update.spec.ts
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

feat: 🎸 ini room card emoji picker
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomCardEmojiPicker/RoomCardEmojiPicker.tsx
  packages/ui/src/components/SpaceBoard/SpaceBoard.tsx
Labels: packages/ui, packages/web

perf: ⚡️ track emoji for room update
  packages/functions/src/rooms/onUpdate/activityRoomUpdate.ts
Labels: packages/functions

chore: 🤖 fix member test
  packages/functions/src/__tests__/spaces/members.spec.ts
Labels: packages/functions

feat: 🎸 ini space panel description
  locales/en/common.json
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelStatusStyles.ts
  packages/ui/src/components/SpacePanelDescriptionForm/index.ts
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
Labels: packages/ui, packages/web

feat: 🎸 space panel refactor style input
  packages/functions/src/rooms/onUpdate/activityRoomUpdate.ts
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionFormStyles.ts
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelStatusStyles.ts
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatusStyles.ts
Labels: packages/functions, packages/ui, packages/web

perf: ⚡️ updated padding for space screen
  packages/ui/src/components/SpacePanelAccordion/SpacePanelAccordion.tsx
  packages/ui/src/components/SpacePanelBanner/SpacePanelBanner.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatusStyles.ts
Labels: packages/ui, packages/web

feat: 🎸 space panel empty feature introduction
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
Labels: packages/ui, packages/web

perf: ⚡️ update common i18n
  locales/en/common.json
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionFormStyles.ts
Labels: packages/ui, packages/web

perf: ⚡️ styel box with flex and flex grow
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionFormStyles.ts
Labels: packages/ui, packages/web

perf: ⚡️ space panel styles
  packages/ui/src/components/SpacePanelAccordion/SpacePanelAccordion.tsx
  packages/ui/src/components/SpacePanelBanner/SpacePanelBanner.tsx
Labels: packages/ui, packages/web

perf: ⚡️ ini emoji select animation
  packages/ui/src/components/EmojiPicker/EmojiPicker.tsx
Labels: packages/ui, packages/web

chore: 🤖 remove unnecessary motion animations emoji
  packages/ui/src/components/EmojiPicker/EmojiPicker.tsx
Labels: packages/ui, packages/web

feat: 🎸 ini member revalidation
  packages/@types/src/models/Member.ts
  packages/@types/src/models/Profile.ts
  packages/functions/src/__dummy__/Member.ts
  packages/ui/src/components/InviteUsernameForm/InviteUsernameForm.tsx
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

chore: 🤖 emoji
  packages/functions/src/spaces/onCreate/spaceMemberSet.ts
Labels: packages/functions

feat: 🎸 refactor space panel description form
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatusStyles.ts
Labels: packages/ui, packages/web

chore: 🤖 fix test member
  packages/functions/src/__dummy__/Member.ts
Labels: packages/functions

fix: 🐛 no initial close button bug
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
Labels: packages/ui, packages/web

chore: 🤖 i18n trans update
  locales/ja/common.json
  locales/zh/common.json
Labels: none

feat: 🎸 ini quit and delete form
  locales/en/form.json
  locales/en/space.json
  packages/common/src/firebase/rooms.ts
  packages/common/src/firebase/spaces.ts
  packages/ui/src/components/ActivityCard/ActivityCard.tsx
  packages/ui/src/components/DeleteForm/DeleteForm.tsx
  packages/ui/src/components/DeleteForm/index.ts
  packages/ui/src/components/QuitForm/QuitForm.tsx
  packages/ui/src/components/QuitForm/index.ts
  packages/ui/src/components/RoomDeleteForm/RoomDeleteForm.tsx
  packages/ui/src/components/RoomDeleteForm/index.ts
  packages/ui/src/components/RoomForm/RoomForm.tsx
  packages/ui/src/components/RoomForm/index.ts
  packages/ui/src/components/RoomQuit/RoomQuit.tsx
  packages/ui/src/components/RoomQuit/index.ts
  packages/ui/src/components/RoomQuitForm/RoomQuitForm.tsx
  packages/ui/src/components/RoomQuitForm/index.ts
  packages/ui/src/components/SpaceDelete/SpaceDelete.tsx
  packages/ui/src/components/SpaceDelete/index.ts
  packages/ui/src/components/SpaceDeleteForm/SpaceDeleteForm.tsx
  packages/ui/src/components/SpaceDeleteForm/index.ts
  packages/ui/src/components/SpaceForm/SpaceForm.tsx
  packages/ui/src/components/SpaceForm/index.ts
  packages/ui/src/components/SpaceQuitForm/SpaceQuitForm.tsx
  packages/ui/src/components/SpaceQuitForm/index.ts
  packages/web/pages_/[spaceId]/quit.tsx
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

feat: 🎸 ini quit form for room and space
  locales/en/room.json
  packages/ui/src/components/RoomMenu/RoomMenu.tsx
  packages/ui/src/components/RoomQuit/RoomQuit.tsx
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/room/[roomId]/quit.tsx
Labels: packages/ui, packages/web

feat: 🎸 ini room quit and delete type
  locales/en/common.json
  locales/en/form.json
  packages/ui/src/components/DeleteForm/DeleteForm.tsx
  packages/ui/src/components/QuitForm/QuitForm.tsx
  packages/ui/src/components/RoomDeleteForm/RoomDeleteForm.tsx
  packages/ui/src/components/RoomQuitForm/RoomQuitForm.tsx
Labels: packages/ui, packages/web

chore: 🤖 ini sushi emoji
  packages/@types/src/models/Room.ts
  packages/functions/src/__dummy__/Room.ts
  packages/ui/src/components/RoomStepperOther/RoomStepperOther.tsx
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

feat: 🎸 router transition upon success delete & quit
  packages/ui/src/components/RoomDelete/RoomDelete.tsx
  packages/ui/src/components/RoomDeleteForm/RoomDeleteForm.tsx
  packages/ui/src/components/RoomQuit/RoomQuit.tsx
  packages/ui/src/components/RoomQuitForm/RoomQuitForm.tsx
  packages/ui/src/components/SpaceDeleteForm/SpaceDeleteForm.tsx
  packages/ui/src/components/SpaceQuitForm/SpaceQuitForm.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/delete.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/quit.tsx
Labels: packages/ui, packages/web

chore: 🤖 i18n translations common & form
  locales/ja/common.json
  locales/ja/form.json
  locales/ja/room.json
  locales/ja/space.json
  locales/zh/common.json
  locales/zh/form.json
  locales/zh/room.json
  locales/zh/space.json
Labels: none

perf: ⚡️ text overflow fix
  packages/ui/src/components/ActivityCard/ActivityCard.tsx
  packages/ui/src/components/ActivityCard/ActivityCardStyles.ts
  packages/ui/src/components/SpacePanelBanner/SpacePanelBanner.tsx
Labels: packages/ui, packages/web
