Repository delta94/sentrei, changes with the labels that .github/labeler.yml gives for each.
All labels: design, github, infrastructure, packages/blog, packages/common, packages/docs, packages/functions, packages/fastlane, packages/pioneer, packages/types, packages/typedoc, packages/ui, packages/video, packages/web

chore: 🤖 add leaderboard profile update index
  packages/functions/src/profiles/onUpdate/index.ts
Labels: packages/functions

perf: ⚡️ refactor next config & fossa ci cd
  .github/workflows/fossa.yml
  packages/web/next.config.js
Labels: github, packages/web

feat: 🎸 revamp leaderboard collectiongroup
  locales/en/space.json
  locales/ja/common.json
  locales/ja/room.json
  locales/ja/space.json
  locales/zh/common.json
  locales/zh/room.json
  locales/zh/space.json
  packages/@types/src/services/LeaderboardQuery.ts
  packages/common/src/firebase/leaderboard.ts
  packages/common/src/serializers/Leaderboard.ts
  packages/functions/firestore/firestore.rules
  packages/functions/src/helpers/index.ts
  packages/functions/src/helpers/updateGroupProfile.ts
  packages/functions/src/profiles/onUpdate/__tests__/collectionGroupProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/__tests__/memberProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/collectionGroupProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/leaderboardProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/memberProfileUpdate.ts
  packages/ui/src/components/LeaderboardCard/LeaderboardCard.tsx
  packages/ui/src/components/LeaderboardCard/LeaderboardCardStyles.ts
  packages/ui/src/components/LeaderboardCard/index.ts
  packages/ui/src/components/SpaceLeaderboard/SpaceLeaderboard.tsx
  packages/ui/src/components/SpaceLeaderboard/index.ts
  packages/ui/src/components/SpaceLeaderboardList/SpaceLeaderboardList.tsx
  packages/ui/src/components/SpaceLeaderboardList/index.ts
  packages/ui/src/components/SpaceLeaderboardLoadMore/SpaceLeaderboardLoadMore.tsx
  packages/ui/src/components/SpaceLeaderboardLoadMore/index.ts
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/leaderboard.tsx
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

chore: 🤖 update profile index
  packages/functions/src/profiles/onUpdate/index.ts
Labels: packages/functions

feat: 🎸 darkmode and intl
  locales/en/common.json
  locales/ja/common.json
  locales/ja/index.json
  locales/zh/common.json
  packages/@types/src/states/ThemeState.ts
  packages/common/src/context/DispatchContext.ts
  packages/ui/src/components/DarkModeButton/DarkModeButton.tsx
  packages/ui/src/components/DarkModeButton/index.ts
  packages/ui/src/components/IntlForm/IntlForm.tsx
  packages/ui/src/components/IntlForm/index.ts
  packages/ui/src/components/IntlMenu/IntlMenu.tsx
  packages/ui/src/components/ListMenu/ListMenu.tsx
  packages/ui/src/hooks/useDarkMode/index.ts
  packages/ui/src/hooks/useDarkMode/useDarkMode.ts
  packages/web/pages_/_app.tsx
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

refactor: 💡 change to states in types
  packages/@types/src/states/AuthState.ts
  packages/@types/src/states/GlobalState.ts
  packages/common/src/context/AuthContext.ts
  packages/common/src/context/GlobalContext.ts
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

feat: 🎸 refactor darkmode function
  packages/common/src/containers/DarkTheme/DarkTheme.tsx
  packages/common/src/containers/DarkTheme/index.ts
  packages/common/src/containers/LightTheme/LightTheme.tsx
  packages/common/src/containers/LightTheme/index.ts
  packages/common/src/containers/Theme/index.ts
  packages/ui/package.json
  packages/ui/src/components/DarkModeButton/DarkModeButton.tsx
  packages/ui/src/components/RoughNotation/RoughNotation.tsx
  packages/ui/src/hooks/useDarkMode/index.ts
  packages/ui/src/hooks/useDarkMode/useDarkMode.ts
  packages/web/package.json
  packages/web/pages_/_app.tsx
  packages/web/pages_/index.tsx
  packages/web/src/components/SentreiMeta.tsx
  packages/web/src/components/SentreiSlider.tsx
  yarn.lock
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

chore: 🤖 complete palette migration
  packages/common/src/containers/DarkTheme/DarkTheme.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderStyles.ts
  packages/ui/src/components/RoughNotation/RoughNotation.tsx
  packages/web/src/styles/slider.scss
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

chore: 🤖 refactor to fade for card skeleton
  packages/ui/src/components/RoomCard/RoomCardStyles.ts
  packages/ui/src/components/SpaceCard/SpaceCardStyles.ts
Labels: packages/ui, packages/web

feat: 🎸 implement landing page dark mode
  locales/en/common.json
  locales/en/index.json
  packages/ui/src/components/DarkModeButton/DarkModeButton.tsx
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/ListMenu/ListMenu.tsx
Labels: packages/ui, packages/web

refactor: 💡 change to preferences
  locales/en/index.json
  locales/ja/common.json
  locales/ja/index.json
  locales/zh/common.json
  locales/zh/index.json
  packages/ui/src/components/Footer/Footer.tsx
Labels: packages/ui, packages/web

perf: ⚡️ introduce vercel actions
  .github/workflows/vercel.yml
  .github/workflows/web.yml
  infrastructure/modules/dns/vercel.tf
  vercel.json
Labels: github, infrastructure

chore: 🤖 remove vercel scope
  vercel.json
Labels: none

chore: 🤖 update sentrei scope
  vercel.json
Labels: none

chore: 🤖 refactor vercel gha
  .github/workflows/vercel.yml
  .github/workflows/web.yml
Labels: github

chore: 🤖 vercel
  .github/workflows/vercel.yml
  .github/workflows/web.yml
  infrastructure/modules/dns/vercel.tf
Labels: github, infrastructure

chore: 🤖 preview sentrei com
  .github/workflows/vercel.yml
  .github/workflows/web.yml
  infrastructure/modules/dns/vercel.tf
Labels: github, infrastructure

feat: 🎸 revamp profile update functions
  packages/functions/src/helpers/updateGroupProfile.ts
  packages/functions/src/profiles/onUpdate/__tests__/collectionGroupProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/__tests__/leaderboardProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/__tests__/memberProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/collectionGroupProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/leaderboardProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/memberProfileUpdate.ts
  packages/ui/src/components/SpaceLeaderboard/SpaceLeaderboard.tsx
Labels: packages/functions, packages/ui, packages/web

chore: 🤖 index profiles functions
  packages/functions/src/profiles/onUpdate/index.ts
Labels: packages/functions

chore: 🤖 ini notifications onDelete
  packages/functions/src/notifications/onDelete/__tests__/notificationCountUpdate.spec.ts
  packages/functions/src/notifications/onDelete/index.ts
  packages/functions/src/notifications/onDelete/notificationCountUpdate.ts
Labels: packages/functions

chore: 🤖 refactor test suites
  packages/functions/src/__tests__/notifications.spec.ts
  packages/functions/src/notifications/onDelete/__tests__/notificationCountUpdate.spec.ts
Labels: packages/functions

feat: 🎸 refactor notification count plus & minus
  packages/functions/src/notifications/index.ts
  packages/functions/src/notifications/onCreate/__tests__/notificationCountPlus.spec.ts
  packages/functions/src/notifications/onCreate/index.ts
  packages/functions/src/notifications/onCreate/notificationCountPlus.ts
  packages/functions/src/notifications/onDelete/__tests__/notificationCountUpdate.spec.ts
  packages/functions/src/notifications/onDelete/index.ts
  packages/functions/src/notifications/onDelete/notificationCountMinus.ts
Labels: packages/functions

feat: 🎸 refactor notification screen
  packages/common/src/firebase/notifications.ts
  packages/ui/src/components/NotificationList/NotificationList.tsx
  packages/ui/src/components/NotificationScreen/NotificationScreen.tsx
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

feat: 🎸 ini room name form
  locales/en/common.json
  packages/ui/src/components/RoomEdit/RoomEdit.tsx
  packages/ui/src/components/RoomNameForm/RoomNameForm.tsx
  packages/ui/src/components/RoomNameForm/index.ts
Labels: packages/ui, packages/web

feat: 🎸 ini description form
  packages/ui/src/components/RoomDescriptionForm/RoomDescriptionForm.tsx
  packages/ui/src/components/RoomDescriptionForm/index.ts
  packages/ui/src/components/RoomEdit/RoomEdit.tsx
Labels: packages/ui, packages/web

feat: 🎸 ini space edit
  packages/ui/src/components/RoomEdit/RoomEdit.tsx
  packages/ui/src/components/SpaceDescriptionForm/SpaceDescriptionForm.tsx
  packages/ui/src/components/SpaceDescriptionForm/index.ts
  packages/ui/src/components/SpaceEdit/SpaceEdit.tsx
  packages/ui/src/components/SpaceNameForm/SpaceNameForm.tsx
  packages/ui/src/components/SpaceNameForm/index.ts
Labels: packages/ui, packages/web

feat: 🎸 ini profile edit
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  packages/ui/src/components/ProfileEdit/index.ts
  packages/ui/src/components/ProfileNameForm/ProfileNameForm.tsx
  packages/ui/src/components/ProfileNameForm/index.ts
  packages/web/pages_/profile/index.tsx
Labels: packages/ui, packages/web

feat: 🎸 remove edit form
  packages/ui/src/components/ProfileForm/ProfileForm.tsx
  packages/ui/src/components/ProfileForm/index.ts
  packages/ui/src/components/RoomForm/RoomForm.tsx
  packages/ui/src/components/SpaceForm/SpaceForm.tsx
Labels: packages/ui, packages/web

fix: 🐛 intlform router error
  packages/ui/src/components/IntlForm/IntlForm.tsx
  packages/ui/src/components/ProfileScreen/ProfileScreen.tsx
  packages/ui/src/components/ProfileScreen/ProfileScreenStyles.ts
Labels: packages/ui, packages/web

chore: 🤖 refactor form styles
  infrastructure/modules/dns/auth.tf
  packages/ui/src/components/InviteCard/InviteCard.tsx
  packages/ui/src/components/InviteLinkForm/InviteLinkForm.tsx
  packages/ui/src/components/InviteList/InviteList.tsx
  packages/ui/src/components/InviteList/InviteListStyles.ts
  packages/ui/src/components/InviteScreen/InviteScreen.tsx
  packages/ui/src/components/RoomEdit/RoomEdit.tsx
  packages/ui/src/components/SettingsScreen/SettingsScreen.tsx
  packages/ui/src/components/SpaceEdit/SpaceEdit.tsx
Labels: infrastructure, packages/ui, packages/web

perf: ⚡️ i18n for invite form
  locales/en/common.json
  locales/ja/common.json
  locales/ja/notifications.json
  locales/zh/common.json
  locales/zh/notifications.json
  packages/ui/src/components/InviteLinkForm/InviteLinkForm.tsx
Labels: packages/ui, packages/web

feat: 🎸 complete refactor form & i18n
  locales/en/auth.json
  locales/en/common.json
  locales/en/form.json
  locales/en/room.json
  locales/en/settings.json
  locales/en/space.json
  locales/ja/auth.json
  locales/ja/common.json
  locales/ja/form.json
  locales/ja/room.json
  locales/ja/settings.json
  locales/ja/space.json
  locales/zh/auth.json
  locales/zh/common.json
  locales/zh/form.json
  locales/zh/room.json
  locales/zh/settings.json
  locales/zh/space.json
  packages/ui/src/components/AuthForm/AuthForm.tsx
  packages/ui/src/components/FormSection/FormSection.tsx
  packages/ui/src/components/InviteEmailForm/InviteEmailForm.tsx
  packages/ui/src/components/InviteScreen/InviteScreen.tsx
  packages/ui/src/components/InviteSignupForm/InviteSignupForm.tsx
  packages/ui/src/components/InviteUsernameForm/InviteUsernameForm.tsx
  packages/ui/src/components/ListMenu/ListMenu.tsx
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  packages/ui/src/components/ProfileScreen/ProfileScreen.tsx
  packages/ui/src/components/RoomEdit/RoomEdit.tsx
  packages/ui/src/components/RoomForm/RoomForm.tsx
  packages/ui/src/components/RoomSettingsForm/RoomSettingsForm.tsx
  packages/ui/src/components/SettingsPasswordForm/SettingsPasswordForm.tsx
  packages/ui/src/components/SettingsScreen/SettingsScreen.tsx
  packages/ui/src/components/SettingsUsernameForm/SettingsUsernameForm.tsx
  packages/ui/src/components/SpaceEdit/SpaceEdit.tsx
  packages/ui/src/components/SpaceForm/SpaceForm.tsx
  packages/ui/src/components/SpaceSettingsForm/SpaceSettingsForm.tsx
  packages/ui/src/components/TabBoard/TabBoard.tsx
  packages/web/i18n.json
Labels: packages/ui, packages/web

perf: ⚡️ refactor auth form
  packages/ui/src/components/AuthForm/AuthForm.tsx
Labels: packages/ui, packages/web

feat: 🎸 revamp functions timestamp
  packages/functions/src/invites/onDelete/activityInviteDelete.ts
  packages/functions/src/members/onDelete/activityMemberDelete.ts
  packages/functions/src/rooms/onDelete/activityRoomDelete.ts
  packages/functions/src/spaces/onDelete/activitySpaceDelete.ts
  packages/functions/src/status/onUpdate/memberStatusUpdate.ts
Labels: packages/functions

perf: ⚡️ refactor vercel version
  .github/workflows/vercel.yml
  .github/workflows/web.yml
Labels: github

perf: ⚡️ refactor pioneer week
  packages/pioneer/src/week/2020/13.md
Labels: packages/pioneer

feat: 🎸 introduce stepper create form feature
  locales/en/common.json
  packages/@types/src/atom/SpaceCreateForm.ts
  packages/common/src/firebase/members.ts
  packages/ui/package.json
  packages/ui/src/components/ListMenu/ListMenu.tsx
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  packages/ui/src/components/SpaceCreate/SpaceCreate.tsx
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpaceStepperId/SpaceStepperId.tsx
  packages/ui/src/components/SpaceStepperId/index.ts
  packages/ui/src/components/SpaceStepperName/SpaceStepperName.tsx
  packages/ui/src/components/SpaceStepperName/index.ts
  packages/ui/src/components/SpaceStepperOther/SpaceStepperOther.tsx
  packages/ui/src/components/SpaceStepperOther/index.ts
  packages/ui/src/components/StepperBoard/StepperBoard.tsx
  packages/ui/src/components/StepperBoard/StepperBoardStyles.ts
  packages/ui/src/components/StepperBoard/index.ts
  packages/ui/src/components/StepperButton/StepperButton.tsx
  packages/ui/src/components/StepperButton/StepperButtonStyles.ts
  packages/ui/src/components/StepperButton/index.ts
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/analytics.tsx
  packages/web/pages_/_app.tsx
  yarn.lock
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

feat: 🎸 add delete activity mock dummy
  packages/common/src/utils/firebaseAdmin.ts
  packages/functions/src/__dummy__/Activity.ts
  packages/functions/src/activity/onCreate/userNotificationBatchCreate.ts
  packages/functions/src/invites/onDelete/activityInviteDelete.ts
  packages/functions/src/members/onDelete/activityMemberDelete.ts
  packages/functions/src/rooms/onDelete/activityRoomDelete.ts
  packages/functions/src/spaces/onDelete/activitySpaceDelete.ts
  packages/functions/src/status/onUpdate/memberStatusUpdate.ts
  packages/functions/src/users/onCall/ipAddressAdd.ts
  packages/ui/src/components/SpaceStepperOther/SpaceStepperOther.tsx
  packages/web/package.json
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

chore: 🤖 activity model refactor
  packages/@types/src/models/Activity.ts
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

feat: 🎸 refactor activity tests
  packages/@types/src/models/Activity.ts
  packages/functions/src/__dummy__/Activity.ts
  packages/functions/src/__tests__/activity.spec.ts
  packages/functions/src/activity/onCreate/__tests__/actionCategorySet.spec.ts
  packages/functions/src/activity/onCreate/__tests__/activityBatchSet.spec.ts
  packages/functions/src/activity/onCreate/__tests__/scoreBatchUpdate.spec.ts
  packages/functions/src/activity/onCreate/__tests__/userNotificationBatchCreate.spec.ts
  packages/functions/src/activity/onCreate/userNotificationBatchCreate.ts
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

.github/labeler.yml:

design:
  - design/**/*
github:
  - .github/**/*
infrastructure:
  - infrastructure/**/*
packages/blog:
  - packages/blog/**/*
packages/common:
  - packages/@types/**/*
  - packages/common/**/*
packages/docs:
  - packages/docs/**/*
packages/functions:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/functions/**/*
packages/fastlane:
  - packages/fastlane/**/*
packages/pioneer:
  - packages/pioneer/**/*
packages/types:
  - packages/@types/**/*
packages/typedoc:
  - packages/typedoc/**/*
packages/ui:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/ui/**/*
packages/video:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/video/**/*
packages/web:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/ui/**/*
  - packages/video/**/*
  - packages/web/**/*
