Repository delta94/sentrei, changes with the labels that .github/labeler.yml gives for each.
All labels: design, github, infrastructure, packages/blog, packages/common, packages/docs, packages/functions, packages/fastlane, packages/pioneer, packages/types, packages/typedoc, packages/ui, packages/video, packages/web

.github/labeler.yml:

design:
  - design/**/*
github:
  - .github/**/*
infrastructure:
  - infrastructure/**/*
packages/blog:
  - packages/blog/**/*
packages/common:
  - packages/@types/**/*
  - packages/common/**/*
packages/docs:
  - packages/docs/**/*
packages/functions:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/functions/**/*
packages/fastlane:
  - packages/fastlane/**/*
packages/pioneer:
  - packages/pioneer/**/*
packages/types:
  - packages/@types/**/*
packages/typedoc:
  - packages/typedoc/**/*
packages/ui:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/ui/**/*
packages/video:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/video/**/*
packages/web:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/ui/**/*
  - packages/video/**/*
  - packages/web/**/*

feat: 🎸 complete refactor banner
  locales/en/index.json
  locales/ja/index.json
  locales/zh/index.json
  packages/ui/src/components/Banner/Banner.tsx
Labels: packages/ui, packages/web

feat: 🎸 complete screen section
  locales/en/index.json
  locales/ja/index.json
  locales/zh/index.json
  packages/ui/src/components/Screen/Screen.tsx
Labels: packages/ui, packages/web

feat: 🎸 complete product section
  locales/en/index.json
  locales/ja/index.json
  locales/zh/index.json
  packages/ui/src/components/Product/Product.tsx
Labels: packages/ui, packages/web

feat: 🎸 complete faq section upgrade
  locales/en/index.json
  locales/ja/index.json
  locales/zh/index.json
  packages/ui/src/components/Faq/Faq.tsx
  packages/ui/src/components/Section/Section.tsx
Labels: packages/ui, packages/web

feat: 🎸 refactor banner gradient
  packages/ui/package.json
  packages/ui/src/components/LandingBanner/LandingBanner.tsx
  packages/ui/src/components/LandingBanner/LandingBannerStyles.ts
  packages/ui/src/components/LandingBannerGradient/LandingBannerGradient.tsx
  packages/ui/src/components/LandingBannerGradient/LandingBannerGradientStyles.ts
  packages/ui/src/components/LandingBannerGradient/index.ts
Labels: packages/ui, packages/web

chore: 🤖 refactor line height
  packages/ui/src/components/LandingBannerGradient/LandingBannerGradientStyles.ts
Labels: packages/ui, packages/web

chore: 🤖 update i18n banner
  locales/ja/index.json
  locales/zh/index.json
Labels: none

chore: 🤖 update grey color
  packages/ui/src/components/LandingBannerGradient/LandingBannerGradientStyles.ts
Labels: packages/ui, packages/web

chore: 🤖 update zh i18n
  locales/zh/auth.json
  locales/zh/common.json
  locales/zh/profile.json
  locales/zh/room.json
  locales/zh/settings.json
  locales/zh/space.json
Labels: none

chore: 🤖 update
  locales/ja/index.json
  locales/zh/index.json
  packages/ui/src/components/LandingBannerGradient/LandingBannerGradientStyles.ts
Labels: packages/ui, packages/web

chore: 🤖 update
  packages/ui/src/components/LandingBannerGradient/LandingBannerGradientStyles.ts
Labels: packages/ui, packages/web

feat: 🎸 refactor list menu
  locales/en/space.json
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/ListMenu/ListMenu.tsx
  packages/ui/src/components/ListMenu/ListMenuStyles.ts
  packages/ui/src/components/ProfileMenu/ProfileMenu.tsx
  packages/web/pages_/[spaceId]/activity.tsx
  packages/web/pages_/[spaceId]/create.tsx
  packages/web/pages_/[spaceId]/edit.tsx
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/[spaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[spaceId]/invite/index.tsx
  packages/web/pages_/[spaceId]/quit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/delete.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/edit.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/help.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/profile/[usernameId]/index.tsx
  packages/web/pages_/profile/index.tsx
  packages/web/pages_/settings.tsx
  packages/web/src/components/SentreiAppHeader.tsx
Labels: packages/ui, packages/web

perf: ⚡️ refactor list menu styles w/ i18n
  locales/en/room.json
  locales/ja/room.json
  locales/ja/space.json
  locales/zh/room.json
  locales/zh/space.json
  packages/ui/src/components/ListMenu/ListMenu.tsx
  packages/ui/src/components/ListMenu/ListMenuStyles.ts
  packages/ui/src/components/RoomNone/RoomNone.tsx
Labels: packages/ui, packages/web

chore: 🤖 update banner text
  locales/en/index.json
Labels: none

feat: 🎸 complete refactor user verify app-header
  packages/ui/src/components/InviteEmailForm/InviteEmailForm.tsx
  packages/web/pages_/[spaceId]/activity.tsx
  packages/web/pages_/[spaceId]/create.tsx
  packages/web/pages_/[spaceId]/edit.tsx
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/[spaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[spaceId]/invite/index.tsx
  packages/web/pages_/[spaceId]/quit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/delete.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/edit.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/profile/[usernameId]/index.tsx
  packages/web/pages_/profile/index.tsx
  packages/web/pages_/settings.tsx
Labels: packages/ui, packages/web

chore: 🤖 update
  locales/en/common.json
Labels: none

perf: ⚡️ upgrade next 9.5.1
  package.json
  packages/common/package.json
  packages/ui/package.json
  packages/web/package.json
  yarn.lock
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

perf: ⚡️ get static props
  packages/web/pages_/profile/[usernameId]/index.tsx
Labels: packages/web

chore: 🤖 refactor to getServerSideProps
  packages/web/pages_/profile/[usernameId]/index.tsx
Labels: packages/web

perf: ⚡️ update firebase Admin service functions
  packages/common/src/firebase/usernames.ts
  packages/common/src/firebaseAdmin/members.ts
  packages/common/src/firebaseAdmin/profiles.ts
  packages/common/src/firebaseAdmin/rooms.ts
  packages/common/src/firebaseAdmin/spaces.ts
  packages/common/src/firebaseAdmin/usernames.ts
  packages/common/src/serializers/Profile.ts
  packages/common/src/serializers/Username.ts
  packages/common/src/utils/firebaseAdmin.ts
  packages/web/pages_/profile/[usernameId]/index.tsx
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

chore: 🤖 update
  packages/common/src/firebaseAdmin/rooms.ts
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

chore: 🤖 update
  packages/web/pages_/profile/[usernameId]/index.tsx
Labels: packages/web

perf: ⚡️ refactor firebase admin w/ server runtime config
  packages/common/src/utils/firebaseAdmin.ts
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

feat: 🎸 ini members screen
  locales/en/space.json
  packages/ui/src/components/MemberCard/MemberCard.tsx
  packages/ui/src/components/MemberCard/MemberCardStyles.ts
  packages/ui/src/components/MemberCard/index.ts
  packages/ui/src/components/MemberFab/MemberFab.tsx
  packages/ui/src/components/SpaceMember/SpaceMember.tsx
  packages/ui/src/components/SpaceMember/index.ts
  packages/ui/src/components/SpaceMemberList/SpaceMemberList.tsx
  packages/ui/src/components/SpaceMemberList/index.ts
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/members.tsx
Labels: packages/ui, packages/web

perf: ⚡️ update space fab
  packages/ui/src/components/SpaceFab/SpaceFab.tsx
Labels: packages/ui, packages/web

perf: ⚡️ settings screen tab order refactor
  packages/ui/src/components/SettingsScreen/SettingsScreen.tsx
Labels: packages/ui, packages/web

refactor: 💡 space fab change
  packages/ui/src/components/SpaceFab/SpaceFab.tsx
Labels: packages/ui, packages/web

feat: 🎸 add firestore validation
  packages/ui/src/components/SpaceActivity/SpaceActivity.tsx
  packages/ui/src/components/SpaceMember/SpaceMember.tsx
Labels: packages/ui, packages/web

feat: 🎸 ini settings page
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpaceSettings/SpaceSettings.tsx
  packages/ui/src/components/SpaceSettings/index.ts
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/settings.tsx
Labels: packages/ui, packages/web

feat: 🎸 ini space settings
  locales/en/common.json
  locales/en/space.json
  packages/ui/src/components/SpaceSettings/SpaceSettings.tsx
  packages/ui/src/components/SpaceSettingsForm/SpaceSettingsForm.tsx
  packages/ui/src/components/SpaceSettingsForm/index.ts
  packages/web/pages_/[spaceId]/settings.tsx
Labels: packages/ui, packages/web

feat: 🎸 ini room settings
  locales/en/room.json
  packages/ui/src/components/RoomSettings/RoomSettings.tsx
  packages/ui/src/components/RoomSettings/index.ts
  packages/ui/src/components/RoomSettingsForm/RoomSettingsForm.tsx
  packages/ui/src/components/RoomSettingsForm/index.ts
  packages/ui/src/components/SpaceSettings/SpaceSettings.tsx
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/room/[roomId]/settings.tsx
Labels: packages/ui, packages/web

perf: ⚡️ add room settings
  locales/en/room.json
  packages/ui/src/components/RoomMenu/RoomMenu.tsx
Labels: packages/ui, packages/web

refactor: 💡 space fab settings
  packages/ui/src/components/SpaceFab/SpaceFab.tsx
Labels: packages/ui, packages/web

feat: 🎸 sublime mui link
  packages/ui/src/components/AuthForm/AuthForm.tsx
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/InviteSignupForm/InviteSignupForm.tsx
  packages/ui/src/components/Link/index.ts
  packages/ui/src/components/MemberFab/MemberFab.tsx
  packages/ui/src/components/MuiLink/MuiLink.tsx
  packages/ui/src/components/MuiLink/index.ts
  packages/ui/src/components/SpaceNone/SpaceNone.tsx
Labels: packages/ui, packages/web

feat: 🎸 activity leaderboard functions model refactor
  packages/@types/src/models/Leaderboard.ts
  packages/functions/src/activity/onCreate/scoreBatchUpdate.ts
  packages/functions/src/helpers/scoreUpdate.ts
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

feat: 🎸 add leaderboard tests
  packages/functions/src/__dummy__/Leaderboard.ts
  packages/functions/src/activity/onCreate/__tests__/scoreBatchUpdate.spec.ts
Labels: packages/functions

ci: 🎡 refactor github actions
  .github/workflows/deploy.yml
  .github/workflows/figma.yml
  .github/workflows/fossa.yml
  .github/workflows/functions.yml
  .github/workflows/gcr.yml
  .github/workflows/infrastructure.yml
  .github/workflows/release.yml
  .github/workflows/sentry.yml
  .github/workflows/ui.yml
  .github/workflows/video.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
Labels: github

Update fossa.yml
  .github/workflows/fossa.yml
Labels: github

feat: 🎸 complete refactor functions
  .github/workflows/fossa.yml
  packages/@types/src/models/Leaderboard.ts
  packages/functions/src/__dummy__/Leaderboard.ts
  packages/functions/src/activity/onCreate/scoreBatchUpdate.ts
  packages/functions/src/members/onCreate/__tests__/activityMemberCreate.spec.ts
  packages/functions/src/members/onCreate/__tests__/userSpaceSet.spec.ts
  packages/functions/src/members/onCreate/activityMemberCreate.ts
  packages/functions/src/members/onCreate/memberCountPlus.ts
  packages/functions/src/members/onCreate/userSpaceSet.ts
  packages/functions/src/members/onDelete/__tests__/activityMemberDelete.spec.ts
  packages/functions/src/members/onDelete/__tests__/spaceLeaderboardDelete.spec.ts
  packages/functions/src/members/onDelete/__tests__/userSpaceDelete.spec.ts
  packages/functions/src/members/onDelete/activityMemberDelete.ts
  packages/functions/src/members/onDelete/memberCountMinus.ts
  packages/functions/src/members/onDelete/spaceLeaderboardDelete.ts
  packages/functions/src/members/onDelete/userSpaceDelete.ts
  packages/functions/src/profiles/onUpdate/__tests__/collectionProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/__tests__/memberProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/__tests__/sdkProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/__tests__/userProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/collectionProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/leaderboardProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/sdkProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/userProfileUpdate.ts
  packages/functions/src/status/onUpdate/memberStatusUpdate.ts
Labels: github, packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

chore: 🤖 update test profiles
  packages/functions/src/profiles/onUpdate/__tests__/leaderboardProfileUpdate.spec.ts
Labels: packages/functions
