Repository delta94/sentrei, changes with the labels that .github/labeler.yml gives for each.
All labels: design, github, infrastructure, packages/blog, packages/common, packages/docs, packages/functions, packages/fastlane, packages/pioneer, packages/types, packages/typedoc, packages/ui, packages/video, packages/web

.github/labeler.yml:

design:
  - design/**/*
github:
  - .github/**/*
infrastructure:
  - infrastructure/**/*
packages/blog:
  - packages/blog/**/*
packages/common:
  - packages/@types/**/*
  - packages/common/**/*
packages/docs:
  - packages/docs/**/*
packages/functions:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/functions/**/*
packages/fastlane:
  - packages/fastlane/**/*
packages/pioneer:
  - packages/pioneer/**/*
packages/types:
  - packages/@types/**/*
packages/typedoc:
  - packages/typedoc/**/*
packages/ui:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/ui/**/*
packages/video:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/video/**/*
packages/web:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/ui/**/*
  - packages/video/**/*
  - packages/web/**/*

chore: 🤖 i18n for credits
  packages/web/i18n.json
Labels: packages/web

chore: 🤖 i18n for credits
  locales/ja/credits.json
  locales/ja/index.json
  locales/zh/credits.json
  locales/zh/index.json
Labels: none

feat: 🎸 refactor i18n credits footer landing
  locales/en/credits.json
  locales/en/index.json
  locales/ja/credits.json
  locales/ja/index.json
  locales/zh/credits.json
  locales/zh/index.json
  packages/ui/src/components/FooterCredits/FooterCredits.tsx
Labels: packages/ui, packages/web

chore: 🤖 update
  locales/ja/credits.json
  locales/zh/credits.json
  packages/ui/package.json
  packages/web/i18n.json
Labels: packages/ui, packages/web

chore: 🤖 pipenv install refactor
  Pipfile
  Pipfile.lock
  changelog.config.js
  packages/pioneer/src/frontier/2020/13.md
Labels: packages/pioneer

chore: 🤖 merge
  Pipfile
  Pipfile.lock
  changelog.config.js
  packages/pioneer/src/frontier/2020/13.md
Labels: packages/pioneer

feat: 🎸 ini next 9-5-2
  package.json
  packages/common/package.json
  packages/ui/package.json
  packages/web/package.json
  yarn.lock
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

feat: 🎸 ini ssg spaceId
  packages/web/pages_/ssg/space/[spaceId]/index.tsx
Labels: packages/web

chore: 🤖 update
  packages/web/pages_/ssg/space/[spaceId]/index.tsx
Labels: packages/web

chore: 🤖 update
  packages/web/pages_/ssg/space/[spaceId]/index.tsx
Labels: packages/web

feat: 🎸 space index data
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/ssg/space/[spaceId]/index.tsx
Labels: packages/ui, packages/web

chore: 🤖 update
  packages/common/src/firebaseAdmin/rooms.ts
  packages/common/src/firebaseAdmin/spaces.ts
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
  packages/web/pages_/[spaceId]/index.tsx
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

feat: 🎸 ini updatte member
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
  packages/web/pages_/[spaceId]/index.tsx
Labels: packages/ui, packages/web

fix: 🐛 admin members bug
  packages/common/src/firebaseAdmin/members.ts
  packages/web/pages_/[spaceId]/index.tsx
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

chore: 🤖 update
  packages/web/pages_/[spaceId]/index.tsx
Labels: packages/web

feat: 🎸 ini isg members
  packages/ui/src/components/SpaceMember/SpaceMember.tsx
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/[spaceId]/members.tsx
Labels: packages/ui, packages/web

perf: ⚡️ revalidate from 300 to 1
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/[spaceId]/members.tsx
Labels: packages/web

feat: 🎸 Update member snapshot
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
Labels: packages/ui, packages/web

feat: 🎸 emoji update synchronous
  packages/ui/src/components/EmojiPicker/EmojiPicker.tsx
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomCardEmojiPicker/RoomCardEmojiPicker.tsx
  packages/ui/src/components/SpacePanelEmojiPicker/SpacePanelEmojiPicker.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
Labels: packages/ui, packages/web

chore: 🤖 updatet
  packages/web/pages_/[spaceId]/index.tsx
Labels: packages/web
