Repository delta94/sentrei, changes with the labels that .github/labeler.yml gives for each.
All labels: design, github, infrastructure, packages/blog, packages/common, packages/docs, packages/functions, packages/fastlane, packages/pioneer, packages/types, packages/typedoc, packages/ui, packages/video, packages/web

.github/labeler.yml:

design:
  - design/**/*
github:
  - .github/**/*
infrastructure:
  - infrastructure/**/*
packages/blog:
  - packages/blog/**/*
packages/common:
  - packages/@types/**/*
  - packages/common/**/*
packages/docs:
  - packages/docs/**/*
packages/functions:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/functions/**/*
packages/fastlane:
  - packages/fastlane/**/*
packages/pioneer:
  - packages/pioneer/**/*
packages/types:
  - packages/@types/**/*
packages/typedoc:
  - packages/typedoc/**/*
packages/ui:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/ui/**/*
packages/video:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/video/**/*
packages/web:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/ui/**/*
  - packages/video/**/*
  - packages/web/**/*

feat: 🎸 refactor sendgrid model
  packages/@types/src/models/Email.ts
  packages/@types/src/models/Notification.ts
  packages/functions/src/__dummy__/Email.ts
  packages/functions/src/__dummy__/Notification.ts
  packages/functions/src/helpers/sendGrid.ts
  packages/functions/src/helpers/sendgrid/InviteEmail.ts
  packages/functions/src/helpers/sendgrid/MailClient.ts
  packages/functions/src/helpers/sendgrid/UpdateEmail.ts
  packages/functions/src/sendgrid/onCreate/notificationEmailSend.ts
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

feat: 🎸 add invite Email sendgrid send
  packages/@types/src/models/Email.ts
  packages/functions/src/helpers/sendgrid/InviteEmail.ts
  packages/functions/src/helpers/sendgrid/UpdateEmail.ts
  packages/functions/src/sendgrid/onCreate/index.ts
  packages/functions/src/sendgrid/onCreate/inviteEmailSend.ts
  packages/functions/src/sendgrid/onCreate/notificationEmailSend.ts
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

feat: 🎸 ini invite email form
  packages/common/src/firebase/invites.ts
  packages/ui/src/components/InviteEmailForm/InviteEmailForm.tsx
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

chore: 🤖 update activity rules
  packages/functions/firestore/firestore.rules
Labels: packages/functions

feat: 🎸 integrage member profile
  packages/common/src/firebase/profiles.ts
  packages/common/src/firebase/usernames.ts
  packages/functions/firestore/firestore.rules
  packages/ui/src/components/InviteUsernameForm/InviteUsernameForm.tsx
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

perf: ⚡️ update firestore model and rules for members
  packages/@types/src/models/Member.ts
  packages/functions/firestore/firestore.rules
  packages/ui/src/components/InviteLinkForm/InviteLinkForm.tsx
  packages/ui/src/components/InviteUsernameForm/InviteUsernameForm.tsx
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

chore: 🤖 update create invite rules
  packages/functions/firestore/firestore.rules
Labels: packages/functions

feat: 🎸 ini invite list
  packages/@types/src/components/InviteCard.ts
  packages/@types/src/components/InviteList.ts
  packages/ui/src/components/FormSection/FormSectionStyles.ts
  packages/ui/src/components/InviteCard/InviteCard.tsx
  packages/ui/src/components/InviteCard/index.ts
  packages/ui/src/components/InviteEmailForm/InviteEmailForm.tsx
  packages/ui/src/components/InviteList/InviteList.tsx
  packages/ui/src/components/InviteList/index.ts
  packages/ui/src/components/InviteScreen/InviteScreen.tsx
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

feat: 🎸 complete email invite list
  packages/@types/src/components/InviteCard.ts
  packages/@types/src/components/InviteList.ts
  packages/common/src/firebase/members.ts
  packages/functions/firestore/firestore.rules
  packages/ui/src/components/InviteCard/InviteCard.tsx
  packages/ui/src/components/InviteList/InviteList.tsx
  packages/ui/src/components/InviteScreen/InviteScreen.tsx
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

feat: 🎸 ini invite link form create
  packages/@types/src/models/Invite.ts
  packages/ui/src/components/InviteLinkForm/InviteLinkForm.tsx
  packages/ui/src/components/InviteScreen/InviteScreen.tsx
  packages/web/pages_/[spaceId]/invite/index.tsx
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

chore: 🤖 upgrade
  packages/ui/src/components/InviteCard/InviteCard.tsx
Labels: packages/ui, packages/web

chore: 🤖 update
  packages/ui/src/components/InviteCard/InviteCard.tsx
  packages/ui/src/components/InviteList/InviteList.tsx
  packages/ui/src/components/InviteList/InviteListStyles.ts
Labels: packages/ui, packages/web

feat: 🎸 add copy to clipboard
  packages/pioneer/src/week/2020/12.md
  packages/ui/src/components/InviteCard/InviteCard.tsx
Labels: packages/pioneer, packages/ui, packages/web

feat: 🎸 integrate invite email
  packages/@types/src/models/Invite.ts
  packages/functions/src/helpers/sendgrid/InviteEmail.ts
  packages/functions/src/helpers/sendgrid/UpdateEmail.ts
  packages/functions/src/sendgrid/onCreate/inviteEmailSend.ts
  packages/ui/src/components/InviteEmailForm/InviteEmailForm.tsx
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

perf: ⚡️ change updatedBy order
  packages/common/src/firebase/members.ts
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

feat: 🎸 refactor analytics space
  packages/@types/src/models/Activity.ts
  packages/@types/src/models/Analytics.ts
  packages/functions/firestore/firestore.rules
  packages/functions/src/analytics/onCreate/__tests__/spaceStatsPlus.spec.ts
  packages/functions/src/analytics/onCreate/__tests__/statsPlus.spec.ts
  packages/functions/src/analytics/onCreate/spaceStatsPlus.ts
  packages/functions/src/analytics/onDelete/__tests__/spaceStatsMinus.spec.ts
  packages/functions/src/analytics/onDelete/__tests__/statsMinus.spec.ts
  packages/functions/src/analytics/onDelete/spaceStatsMinus.ts
  packages/functions/src/helpers/scoreActions.ts
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

chore: 🤖 update invites functions
  packages/functions/src/index.ts
  packages/functions/src/invites/onCreate/index.ts
  packages/functions/src/invites/onDelete/index.ts
Labels: packages/functions

chore: 🤖 update
  packages/functions/src/invites/onDelete/activityInviteDelete.ts
Labels: packages/functions

chore: 🤖 update bug inviteId
  packages/functions/src/invites/onCreate/activityInviteCreate.ts
Labels: packages/functions

feat: 🎸 refactor settings form divide
  packages/@types/src/components/SettingsNotificationForm.ts
  packages/@types/src/components/SettingsUsernameForm.ts
  packages/ui/src/components/InviteSignupForm/InviteSignupForm.tsx
  packages/ui/src/components/InviteSignupForm/InviteSignupFormStyles.ts
  packages/ui/src/components/InviteSignupForm/index.ts
  packages/ui/src/components/NotificationForm/index.ts
  packages/ui/src/components/PasswordUpdateForm/index.ts
  packages/ui/src/components/SettingsNotificationForm/SettingsNotificationForm.tsx
  packages/ui/src/components/SettingsNotificationForm/index.ts
  packages/ui/src/components/SettingsPasswordForm/SettingsPasswordForm.tsx
  packages/ui/src/components/SettingsPasswordForm/index.ts
  packages/ui/src/components/SettingsScreen/SettingsScreen.tsx
  packages/ui/src/components/SettingsUsernameForm/SettingsUsernameForm.tsx
  packages/ui/src/components/SettingsUsernameForm/index.ts
  packages/ui/src/components/UsernameForm/index.ts
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

perf: ⚡️ update score actions
  packages/functions/src/helpers/scoreActions.ts
Labels: packages/functions

feat: 🎸 ini invite signup
  packages/@types/src/components/InviteSignup.ts
  packages/@types/src/components/InviteSignupForm.ts
  packages/common/src/firebase/invites.ts
  packages/functions/firestore/firestore.rules
  packages/ui/src/components/InviteSignup/InviteSignup.tsx
  packages/ui/src/components/InviteSignup/index.ts
  packages/ui/src/components/InviteSignupForm/InviteSignupForm.tsx
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/invite/[inviteId]/index.tsx
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

chore: 🤖 update
  locales/en/auth.json
  packages/ui/src/components/InviteSignupForm/InviteSignupForm.tsx
Labels: packages/ui, packages/web

perf: ⚡️ upgrade next.js to v9.5.0
  package.json
  packages/common/package.json
  packages/ui/package.json
  packages/web/package.json
Labels: packages/common, packages/functions, packages/ui, packages/video, packages/web

chore: 🤖 update
  yarn.lock
Labels: none

chore: 🤖 try getStaticProps for profile page
  packages/web/pages_/profile/[usernameId]/index.tsx
Labels: packages/web

chore: 🤖 update
  packages/web/pages_/profile/[usernameId]/index.tsx
Labels: packages/web

chore: 🤖 update
  packages/pioneer/src/frontier/2020/11.md
Labels: packages/pioneer

chore: 🤖 update
  packages/pioneer/src/project/README.md
Labels: packages/pioneer

chore: 🤖 update
  packages/pioneer/src/project/README.md
Labels: packages/pioneer

chore: 🤖 update
  packages/pioneer/src/project/VIDEO.md
Labels: packages/pioneer

chore: 🤖 update
  packages/pioneer/src/project/VIDEO.md
Labels: packages/pioneer

fix: 🐛 use animations complete error
  packages/ui/src/components/Footer/Footer.tsx
Labels: packages/ui, packages/web

fix: 🐛 remove typical animation
  packages/ui/package.json
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Typical/Typical.tsx
  packages/ui/src/components/Typical/TypicalStyles.ts
  packages/ui/src/components/Typical/index.ts
Labels: packages/ui, packages/web

chore: 🤖 remove react typist
  yarn.lock
Labels: none

feat: 🎸 refactor rough notation banner
  packages/@types/src/components/RoughNotation.ts
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/RoughNotation/RoughNotation.tsx
Labels: packages/common, packages/functions, packages/types, packages/ui, packages/video, packages/web

chore: 🤖 update
  packages/ui/src/components/Banner/Banner.tsx
Labels: packages/ui, packages/web

chore: 🤖 update
  packages/ui/src/components/Banner/Banner.tsx
Labels: packages/ui, packages/web

perf: ⚡️ finalize banner design for notation
  packages/ui/src/components/Banner/Banner.tsx
Labels: packages/ui, packages/web

chore: 🤖 complete
  packages/ui/src/components/Banner/Banner.tsx
Labels: packages/ui, packages/web
