Repository delta94/sentrei, changes with the labels that .github/labeler.yml gives for each.
All labels: design, github, infrastructure, packages/blog, packages/common, packages/docs, packages/functions, packages/fastlane, packages/pioneer, packages/types, packages/typedoc, packages/ui, packages/video, packages/web

.github/labeler.yml:

design:
  - design/**/*
github:
  - .github/**/*
infrastructure:
  - infrastructure/**/*
packages/blog:
  - packages/blog/**/*
packages/common:
  - packages/@types/**/*
  - packages/common/**/*
packages/docs:
  - packages/docs/**/*
packages/functions:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/functions/**/*
packages/fastlane:
  - packages/fastlane/**/*
packages/pioneer:
  - packages/pioneer/**/*
packages/types:
  - packages/@types/**/*
packages/typedoc:
  - packages/typedoc/**/*
packages/ui:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/ui/**/*
packages/video:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/video/**/*
packages/web:
  - packages/@types/**/*
  - packages/common/**/*
  - packages/ui/**/*
  - packages/video/**/*
  - packages/web/**/*

perf: ⚡️ add emoji for popover w/refactoring
  packages/ui/src/components/EmojiPicker/EmojiPickerStyles.ts
  packages/ui/src/components/MemberFab/MemberFab.tsx
  packages/ui/src/components/ProfileCardPopover/ProfileCardPopover.tsx
Labels: packages/ui, packages/web

perf: ⚡️ refactor vercel next.js
  .github/workflows/web.yml
  packages/web/next.config.js
  vercel.json
Labels: github, packages/web

perf: ⚡️ vercel
  package.json
  packages/web/next.config.js
  vercel.json
Labels: packages/web

chore: 🤖 build
  package.json
Labels: none

chore: 🤖 update
  packages/web/next.config.js
Labels: packages/web

chore: 🤖 wip
  vercel.json
Labels: none

chore: 🤖 wip
  vercel.json
Labels: none

chore: 🤖 wip
  packages/web/pages_/ssg/[spaceId]/index.tsx
Labels: packages/web

chore: 🤖 wip
  packages/web/pages_/ssg/[spaceId]/index.tsx
Labels: packages/web

chore: 🤖 refactor
  packages/web/pages_/ssg/[spaceId]/index.tsx
  vercel.json
Labels: packages/web

chore: 🤖 pioneer okr update
  packages/functions/Makefile
  packages/pioneer/src/.vuepress/config.js
  packages/pioneer/src/day/2020/07/21.md
  packages/pioneer/src/day/2020/07/22.md
  packages/pioneer/src/day/2020/07/23.md
  packages/pioneer/src/day/2020/07/24.md
  packages/pioneer/src/day/2020/07/25.md
  packages/pioneer/src/day/2020/07/26.md
  packages/pioneer/src/day/2020/07/27.md
  packages/pioneer/src/day/2020/07/28.md
  packages/pioneer/src/day/2020/07/29.md
  packages/pioneer/src/day/2020/07/30.md
  packages/pioneer/src/day/2020/07/31.md
  packages/pioneer/src/day/2020/08/01.md
  packages/pioneer/src/day/2020/08/02.md
  packages/pioneer/src/day/2020/08/03.md
  packages/pioneer/src/day/2020/08/04.md
  packages/pioneer/src/day/2020/08/05.md
  packages/pioneer/src/day/2020/08/06.md
  packages/pioneer/src/day/2020/08/07.md
  packages/pioneer/src/day/2020/08/08.md
  packages/pioneer/src/day/2020/08/09.md
  packages/pioneer/src/day/2020/08/10.md
  packages/pioneer/src/sus/2020/06.md
  packages/pioneer/src/sus/2020/07.md
  packages/pioneer/src/sus/2020/08.md
  packages/pioneer/src/sus/2020/09.md
Labels: packages/functions, packages/pioneer

chore: 🤖 update makefile web
  packages/web/Makefile
Labels: packages/web

chore: 🤖 remove vercel gha
  .github/workflows/vercel.yml
Labels: github

chore: 🤖 update
  packages/pioneer/src/.vuepress/config.js
Labels: packages/pioneer

feat: 🎸 ini papercups widget
  .gitignore
  locales/en/papercups.json
  locales/ja/papercups.json
  locales/zh/papercups.json
  package.json
  packages/functions/Makefile
  packages/ui/package.json
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/PaperCups/PaperCups.tsx
  packages/ui/src/components/PaperCups/index.ts
  packages/web/.gitignore
  packages/web/Makefile
  packages/web/next.config.js
  packages/web/pages_/help.tsx
  yarn.lock
Labels: packages/functions, packages/ui, packages/web

chore: 🤖 papercups
  packages/web/i18n.json
Labels: packages/web

chore: 🤖 update account id
  packages/web/next.config.js
Labels: packages/web

feat: 🎸 ini help screen
  packages/ui/src/components/HelpScreen/HelpScreen.tsx
  packages/ui/src/components/HelpScreen/index.ts
  packages/web/pages_/help.tsx
Labels: packages/ui, packages/web

perf: ⚡️ remove hubspot components
  packages/ui/src/components/HubSpot/HubSpot.tsx
  packages/ui/src/components/HubSpot/index.ts
  packages/ui/src/components/NoHubSpot/NoHubSpot.tsx
  packages/ui/src/components/NoHubSpot/index.ts
  packages/web/pages_/[spaceId]/activity.tsx
  packages/web/pages_/[spaceId]/analytics.tsx
  packages/web/pages_/[spaceId]/create.tsx
  packages/web/pages_/[spaceId]/edit.tsx
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/[spaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[spaceId]/invite/index.tsx
  packages/web/pages_/[spaceId]/leaderboard.tsx
  packages/web/pages_/[spaceId]/members.tsx
  packages/web/pages_/[spaceId]/quit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/delete.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/edit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/index.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/quit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/settings.tsx
  packages/web/pages_/[spaceId]/settings.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/settings.tsx
Labels: packages/ui, packages/web

chore: 🤖 update help screen
  packages/web/pages_/help.tsx
Labels: packages/web

chore: 🤖 i18n for help
  locales/ja/papercups.json
  locales/zh/papercups.json
  packages/web/i18n.json
  packages/web/pages_/help.tsx
Labels: packages/web

perf: ⚡️ help for profile menu item
  packages/ui/src/components/ProfileMenu/ProfileMenu.tsx
Labels: packages/ui, packages/web

chore: 🤖 props for help screen
  packages/ui/src/components/HelpScreen/HelpScreen.tsx
  packages/web/pages_/help.tsx
Labels: packages/ui, packages/web

chore: 🤖 update
  packages/ui/src/components/HelpScreen/HelpScreen.tsx
Labels: packages/ui, packages/web

feat: 🎸 video pr update
  packages/video/src/components/AudioLevelIndicator/AudioLevelIndicator.tsx
  packages/video/src/components/LocalVideoPreview/LocalVideoPreview.spec.tsx
  packages/video/src/components/MenuBar/DeviceSelector/AudioInputList/AudioInputList.tsx
  packages/video/src/components/MenuBar/DeviceSelector/VideoInputList/VideoInputList.tsx
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.spec.tsx
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.tsx
  packages/video/src/components/VideoProvider/useLocalTracks/useLocalTracks.ts
  packages/video/src/components/VideoTrack/VideoTrack.spec.tsx
  packages/video/src/components/VideoTrack/VideoTrack.tsx
  packages/video/src/constants.ts
  packages/video/src/hooks/useIsTrackEnabled/useIsTrackEnabled.spec.tsx
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.spec.tsx
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.tsx
  packages/video/src/hooks/useMediaStreamTrack/__mocks__/useMediaStreamTrack.ts
  packages/video/src/hooks/useMediaStreamTrack/index.ts
  packages/video/src/hooks/useMediaStreamTrack/useMediaStreamTrack.test.ts
  packages/video/src/hooks/useMediaStreamTrack/useMediaStreamTrack.ts
Labels: packages/video, packages/web

chore: 🤖 comment pr vercel
  vercel.json
Labels: none

perf: ⚡️ upgrade twilio video
  packages/video/package.json
  yarn.lock
Labels: packages/video, packages/web

chore: 🤖 update
  packages/video/package.json
  packages/video/src/components/AudioLevelIndicator/AudioLevelIndicator.tsx
  yarn.lock
Labels: packages/video, packages/web

perf: ⚡️ update
  packages/video/src/components/AudioLevelIndicator/AudioLevelIndicator.tsx
  packages/video/src/components/LocalVideoPreview/LocalVideoPreview.spec.tsx
  packages/video/src/components/MenuBar/DeviceSelector/AudioInputList/AudioInputList.tsx
  packages/video/src/components/MenuBar/DeviceSelector/VideoInputList/VideoInputList.tsx
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.spec.tsx
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.tsx
  packages/video/src/components/VideoProvider/useLocalTracks/useLocalTracks.ts
  packages/video/src/components/VideoTrack/VideoTrack.spec.tsx
  packages/video/src/components/VideoTrack/VideoTrack.tsx
  packages/video/src/hooks/useIsTrackEnabled/useIsTrackEnabled.spec.tsx
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.spec.tsx
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.tsx
Labels: packages/video, packages/web

chore: 🤖 update
  packages/video/package.json
  yarn.lock
Labels: packages/video, packages/web

chore: 🤖 update
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.spec.tsx
Labels: packages/video, packages/web

chore: 🤖 update
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.spec.tsx
  packages/video/src/components/VideoTrack/VideoTrack.spec.tsx
Labels: packages/video, packages/web

chore: 🤖 update
  packages/video/src/components/AudioLevelIndicator/AudioLevelIndicator.tsx
  packages/video/src/components/LocalVideoPreview/LocalVideoPreview.spec.tsx
  packages/video/src/components/MenuBar/DeviceSelector/AudioInputList/AudioInputList.tsx
  packages/video/src/components/MenuBar/DeviceSelector/VideoInputList/VideoInputList.tsx
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.spec.tsx
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.tsx
  packages/video/src/components/VideoProvider/useLocalTracks/useLocalTracks.ts
  packages/video/src/components/VideoTrack/VideoTrack.spec.tsx
  packages/video/src/components/VideoTrack/VideoTrack.tsx
  packages/video/src/hooks/useIsTrackEnabled/useIsTrackEnabled.spec.tsx
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.spec.tsx
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.tsx
Labels: packages/video, packages/web

chore: 🤖 update
  packages/video/package.json
  packages/video/src/constants.ts
  packages/video/src/hooks/useMediaStreamTrack/__mocks__/useMediaStreamTrack.ts
  packages/video/src/hooks/useMediaStreamTrack/index.ts
  packages/video/src/hooks/useMediaStreamTrack/useMediaStreamTrack.test.ts
  packages/video/src/hooks/useMediaStreamTrack/useMediaStreamTrack.ts
  yarn.lock
Labels: packages/video, packages/web

chore: 🤖 update gha cla
  .github/workflows/cla.yml
  packages/pioneer/src/week/2020/14.md
Labels: github, packages/pioneer

feat: 🎸 ini credits feat
  .vscode/settings.json
  locales/en/index.json
  packages/pioneer/src/day/2020/08/11.md
  packages/ui/src/components/Credits/Credits.tsx
  packages/ui/src/components/Credits/index.ts
  packages/ui/src/components/Footer/Footer.tsx
Labels: packages/pioneer, packages/ui, packages/web

feat: 🎸 refactor to footer components
  packages/ui/src/components/Copyright/Copyright.spec.tsx
  packages/ui/src/components/Copyright/index.ts
  packages/ui/src/components/Credits/index.ts
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/FooterCopyright/FooterCopyright.spec.tsx
  packages/ui/src/components/FooterCopyright/FooterCopyright.stories.tsx
  packages/ui/src/components/FooterCopyright/FooterCopyright.tsx
  packages/ui/src/components/FooterCopyright/index.ts
  packages/ui/src/components/FooterCredits/FooterCredits.tsx
  packages/ui/src/components/FooterCredits/index.ts
Labels: packages/ui, packages/web

feat: 🎸 ini footer section
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/Footer/FooterStyles.ts
  packages/ui/src/components/FooterSection/FooterSection.tsx
  packages/ui/src/components/FooterSection/FooterStyles.ts
  packages/ui/src/components/FooterSection/index.ts
Labels: packages/ui, packages/web

chore: 🤖 remove footer styles
  packages/ui/src/components/FooterSection/FooterStyles.ts
Labels: packages/ui, packages/web

perf: ⚡️ i18n for footer credits component
  locales/en/credits.json
  locales/ja/credits.json
  locales/zh/credits.json
  packages/ui/src/components/FooterCredits/FooterCredits.tsx
Labels: packages/ui, packages/web
